@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?acnsn7');
  src:  url('fonts/icomoon.eot?acnsn7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?acnsn7') format('truetype'),
    url('fonts/icomoon.woff?acnsn7') format('woff'),
    url('fonts/icomoon.svg?acnsn7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-arrow .path1:before {
  content: "\e900";
  color: rgb(33, 60, 95);
}
.icon-circle-arrow .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(249, 211, 66);
}
